@tailwind base;
@tailwind components;
@tailwind utilities;

/* Josefins Sans */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  @apply bg-gradient-to-r from-custom-bg-primary to-custom-bg-end;
}

body {
  @apply px-30px sm:px-100px md:px-200px lg:px-300px bg-me bg-no-repeat bg-right-top bg-100% sm:bg-85% md:bg-66% lg:bg-50%;
}

body {
  min-height: 100vh;
}

/* background: url(./assets/me.png) right top / 50% no-repeat; */

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
.title,
.subtitle {
  @apply font-josefin text-custom-primary;
}

p,
span,
input,
button,
a,
.body1 {
  @apply font-poppins text-custom-primary;
}

h1 {
  @apply text-4xl lg:text-5xl;
}

h2 {
  @apply text-3xl lg:text-4xl;
}

h3 {
  @apply text-2xl lg:text-3xl;
}

h4 {
  @apply text-xl lg:text-2xl;
}

h5 {
  @apply text-base lg:text-xl;
}

h6 {
  @apply text-sm lg:text-base;
}

/* button */
.btn {
  @apply rounded-full px-4 py-3 transition-colors;
}

.btn-primary {
  @apply bg-custom-primary hover:bg-custom-primary-hover text-custom-primary-inverse;
}

/* header */
#header {
  @apply fixed z-10 top-0 py-5 md:px-200px lg:px-300px left-0 right-0 bg-custom-primary-light;
}

#header.at-top {
  @apply bg-transparent;
}

.navbar-container {
  @apply flex justify-start items-center;
}

.navbar-item {
  @apply transition-colors md:mr-8 text-lg lg:text-xl font-bold hover:text-custom-primary-hover;
}

/* glassmorphism */
.glassmorphism {
  background: rgba(47, 224, 255, 0.144);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* home */
#home {
  @apply h-screen flex items-center;
}

/* about me */
#about {
  @apply mt-100px mb-50px;
}

#about-aside {
  @apply ml-0 mb-6 lg:mb-0 lg:ml-10 grow basis-1/5 flex flex-col justify-center items-center;
}

/* articles */
#articles {
  @apply py-50px;
}

#article-content {
  @apply w-full px-70px;
}

.article-link {
  @apply block mb-30px;
}

.article-link:hover h3,
.article-link:hover p {
  @apply text-custom-primary-hover transition-colors;
}

.article-container {
  @apply w-full flex items-center justify-start;
}

.article-image {
  @apply rounded-3xl mr-50px self-start;
}
